/* Media Queries*/
@media screen and (max-width:767px) {

 .mobileMenuBtn{
    position: fixed;
    z-index: 3;
    right: 5px;
    top: 3px ;
    padding: 1%;
    background-color: #1a1a1a;
    border-radius: 4px;
    color: white;
    font-size:1.2em;
  }
 #sideMenu{
   display:none;
 }
  #topMenu{
    display:block;
    background-color:white;
    position: fixed;
    z-index:2;
    width: 100%;
    margin:0px auto;
  }

  .frontGallery{
   max-width:100%;
 }
}

@media screen and (min-width:768px) {

 .mobileMenuBtn, #theMenu{
    display: none;
  }

#sideMenu{
   display:inline;
 }
  #topMenu{
    display:none;
  }

}

@media screen and (max-width:989px){

   #popUpImages{
    display:none;
  }
  .picDesc{
    padding:0% 0% 15px;
  }
}

@media screen and (min-width:1200px) {
.frontGallery{
  max-width:30%;

}
}

 /*Everything Else*/
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker|Open+Sans|Pacifico|Indie+Flower';
 h1, h2, li{
  text-transform:uppercase;
  font-family: "Permanent Marker";
}
body{
  font-family:"Indie Flower";
  margin: 0px;
}

a, #byMe{
  color:turquoise;
}

.hidden{
  display:none;
}
.navigate{
  display:none;
}

#aboutPage {
  padding: 10%;
}
#aboutPage .img-responsive{
  width:100%;
}


a:hover {
  color:turquoise;
   -webkit-transition: color 300ms;
   -moz-transition: color 300ms;
    -ms-transition: color 300ms;
     -o-transition: color 300ms;
        transition: color 300ms;
}

}
body{
  padding:px;
  margin: 0px;
}


.frontGallery{
  padding: 2px;
    height:auto;
}

#hello
{color:orange;
  text-align:center;
}

li {
  padding: 1% 0%;
  list-style-type: none;
}

li>a , #artWork {
  color: #1a1a1a;
  font-size:85%;
}
li>a:hover {
  text-decoration:none;
}

#main{
  float: right;
  padding: 10px;
}

.overlay {
  position: fixed;
  z-index:3;
  padding:0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(250, 255, 255, 0.6);
  -moz-transition: opacity 500ms;
  -webkit-transition: opacity 500ms;

    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow:auto;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup .close {
  position: fixed;
  top: 10px;
  z-index:3;
  left: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.popup a{color:#1a1a1a; text-decoration: none;}
.popup a:hover {color:turquoise;}
.popup img{height:100%; margin:0}
.popup {
  text-align: center;
  margin: 0px auto;
  padding: 20px;
  color: #1a1a1a;
  overflow: auto;
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  height:100%;
  position: fixed;
  transition: all 5s ease-in-out;
}

.selected{
  color: turquoise;
}

#sideMenu{
  position:fixed;
  margin-top: 15px;
}

#sideMenu .linkA
{
  font-size: 150%;
  margin: 0px auto;
}

#sideMenu .linkB
{
  font-size: 130%;
  margin: 0px auto;
}

#socialBtns {color:white; display:inline; text-decoration:none;}

#socialBtns a{
  text-decoration: none;
  //background-color:#1a1a1a;
  //border-radius:5%;
  padding:0px 5px;
  margin: auto;
}
#socialBtns .fa:hover {
  //color:#1a1a1a;
  //background-color: white;
}

.subLinks{
  //display:none;
  visibility: hidden;
  height: 0px;
  opacity: 0;
  -webkit-transition:visibility 0s, opacity 0.5s linear;
  -moz-transition: visibility 0s, opacity 0.5s linear;
  -o-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.subLinks-change{
  display:block;
  visibility: visible;
  opacity:1;
  height: auto;
}

#theMenu h2{font-size:140%;}

#theMenu .linkB{font-size:100%;}
