
#content {
	text-align: center;
	padding-top: 20vh;
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000,
		5px 5px 10px #04021c;
}
#content button {
	opacity: 0.6;
}
#content h1 {
	font-weight: 600;
	font-size: 3.5em;
}
hr {
	width: 280px;
}


.navigation {
  height: 70px;
  background: #262626;
}

.brand {
  position: absolute;
  padding-left: 50px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
.login{
  font-size: 15px;
}
.nav-container {
  max-width: 100%;
  height: 70px;
}

nav {
  margin-left: 10px;
  float: right;
  margin-right: 50px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 600px) {
}

.about-section{
	position:relative;
	padding:120px 0px;
}

.about-section .content-column{
	position:relative;
	margin-bottom:-412px;
}

.about-section .content-column .inner-column{
	position:relative;
	padding-top:0px;
	padding-right:100px;
}

.about-section .content-column .text{
	position:relative;
	color:#777777;
	font-size:15px;
	line-height:2em;
	margin-bottom:40px;
}

.about-section .content-column .email{
	position:relative;
	color:#252525;
	font-weight:700;
	margin-bottom:50px;
}

.about-section .image-column{
	position:relative;
	margin-bottom:50px;
}

.about-section .image-column .inner-column{
	position:relative;
	padding:40px 40px 0px 0px;
	margin-left:568px;
}
.about-container{
  margin-left: 20%;
}
.about-section .image-column .inner-column .image{
	position:relative;
  width:800px;
}

.about-section .image-column .inner-column .image:before{
	position:absolute;
	content:'';
	left:-50px;
	bottom:-50px;
	width:299px;
	height:299px;
	background:url(img/pattern-2.png) no-repeat;
}

.about-section .image-column .inner-column .image img{
	position:relative;
	width:100%;
	display:block;
}

.about-section .image-column .inner-column .image .overlay-box{
	position:absolute;
	left:40px;
	bottom:48px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box{
	position:relative;
	color:#252525;
	font-size:24px;
	font-weight:700;
	line-height:1.4em;
	padding-left:125px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box .number{
	position:absolute;
	left:0px;
	top:0px;
	width:110px;
	height:110px;
	color:#d7a449;
	font-size:68px;
	font-weight:700;
	line-height:105px;
	text-align:center;
	background-color:#ffffff;
	border:1px solid #000000;
}
.about-section .btn-style-three:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    z-index: -1;
    right: -10px;
    bottom: -10px;
    background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
}
.about-section .btn-style-three:hover {
    color: #ffffff;
    background: #d7a449;
}
.about-section .btn-style-three {
    position: relative;
    line-height: 24px;
    color: #252525;
    font-size: 15px;
    font-weight: 700;
    background: none;
    display: inline-block;
    padding: 11px 40px;
    background-color: #ffffff;
    text-transform: capitalize;
    border: 2px solid #d7a449;
    font-family: 'Arimo', sans-serif;
}
.sec-title2{
	color:#fff;
}
.sec-title {
    position: relative;
    padding-bottom: 40px;
}
.sec-title .title {
    position: relative;
    color: #d7a449;
    font-size: 30px;
    font-weight: 700;
    padding-right: 50px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: capitalize;
}
.sec-title .title:before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 7px;
    width: 40px;
    height: 1px;
    background-color: #bbbbbb;
}
@charset "UTF-8";
.sidebar:before, .sidebar {
  position: absolute;
  top: 24%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.bar-list1:before, .sidebar:before {
  font-family: "Material Icons";
  font-feature-settings: "liga";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar :before, :after {
  box-sizing: border-box;
  transition: 0.3s;
}


.sidebar {
  background: #474747;
  height: 56px;
  width: 111px;
  border-radius: 20px;
  color: #E6E6E6;
  font-size: 1.2em;
  cursor: pointer;
	text-align: center;
}
.sidebar:before {
  content: "";
  font-size: inherit;
}

ul.sidebar-list {
  background: inherit;
  padding: 0.5em 0;
  margin: 0;
  margin-top: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: 0;
  color: #E8F5FF;
  font: 400 18px Roboto;
  white-space: nowrap;
  cursor:;
	list-style: none;
	width : 100px;
}
.sidebar-list.hidden {
  margin-top: 0.7em;
  visibility: hidden;
  opacity: 0;
}
.sidebar-list:before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  background: inherit;
  position: absolute;
  top: -0.375em;
  left: calc(56px / 2 - .375em);
  transform: rotate(45deg);
}

.bar-list1 {
  list-style: none;
  padding: 0.5em;
  padding-left: 2.5em;
  margin: 0;
  position: relative;
  cursor: pointer;
}
.bar-list1:before {
  position: absolute;
  top: calc(5% + 8px);
  left: 8px;
}
.bar-list1:nth-child(1):before {
  content: "";
}
.bar-list1:nth-child(2):before {
  content: "";
}
.bar-list1:nth-child(3):before {
  content: "";
}
.bar-list1:nth-child(4):before {
  content: "";
}
.bar-list1:hover {
  background: rgba(255, 255, 255, 0.08);
}
